{% extends 'pymentorat/base.html' %}

{% block content %}

    <div class="container text-center">
    {% if status == 'new' %}
        <h3>Nouvelle inscription de demandeur d'aide</h3>
    {% else %}
        <h3>Modifier inscription EDA</h3>
    {% endif %}
        <h3> {{student_vorname}} {{student_name}} ({{student_classe}})</h3>
    {% if status != 'new' %}
        <p style="color: red"> Ne pas modifier la branche si des contrats sont liés à ce demandeur !</p>
    {% endif %}
    <form  method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Sauver">
        <button onclick="window.history.back()" type="button">Annuler</button>
    </form>

{% endblock%}
