{% extends 'pymentorat/base.html' %}

{% block buttons %}
        <a href="{% url 'pymentorat:eda_create' %}" class="btn btn-outline-secondary btn-sm" id="new_eda">
            <i class="fas fa-plus-square"></i> Nouveau demandeur
        </a>
        <a href="{% url 'pymentorat:student_list' %}" class="btn btn-outline-secondary btn-sm" id="student_list">
            Liste des élèves
        </a>
{% endblock%}

{% block content %}
    <h3>{{ title }}</h3>


    <div class="container text-center">
        <form class="form-inline" method="get">
            {{ filter.form.as_p }}
            <button type="submit">Filtrer</button>
        </form>

    </div>

    {% if filter.qs %}
        <table class="table table-striped table-hover">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Discipline</th>
                <th>Classe</th>
                <th>Maître</th>
                <th>Date d'inscription</th>
                <th>Nb contrats</th>
                <th>Actions</th>
            </tr>
            {% for eda in filter.qs %}
            <tr>
                <td>
                    {{eda.student.name}}
                    <a href="{% url 'pymentorat:student_details' eda.student.pk %}" >
                        <i class="fas fa-info-circle" title="Ouvrir détails de l'élève"></i>
                    </a>
                </td>
                <td>
                    {{eda.student.vorname}}
                </td>
                <td>
                    {{eda.discipline}}
                </td>
                <td>
                    {{eda.classe}}
                </td>
                 <td>
                    {{eda.teacher}}
                </td>
                <td>
                    {{eda.inscription_date | date:"d F Y"}}
                </td>
                <td>
                    <span class="badge badge-pill badge-primary" title="Nb. contrats">
                        {{eda.get_nb_contracts}}
                    </span>
                </td>
                <td>
                    <a href="{% url 'pymentorat:eda_details' eda.pk %}">
                        <i class="fas fa-info-circle" title="Ouvrir détails du demandeur"></i>
                    </a>

                    <a href="{% url 'pymentorat:eda_update' eda.pk %}">
                        <i class="fas fa-marker" title="Modifier le demandeur"></i>
                    </a>

                    <a href="{% url 'pymentorat:contract_create' eda.pk %}">
                        <i class="fas fa-folder-plus" title="Nouveau contrat"></i>
                    </a>
                </td>

            </tr>
            {% endfor %}
        </table>
    {% else %}
        Aucun élève demandeur trouvé.
    {% endif %}
{% endblock%}
