{% extends 'pymentorat/base.html' %}

{% block content %}

    <h2>Liste des élèves :</h2>

    <table>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Téléphone</th>
            <th>Natel</th>
        </tr>
        {% for eleve in eleves %}
        <tr>
           <td>
            {{eleve.nom}}
            </td>
            <td>
            {{eleve.prenom}}
            </td>
            <td>
            {{eleve.tel}}
            </td>
            <td>
            {{eleve.natel}}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

