{% extends 'pymentorat/base.html' %}

{% block content %}
    <h3>Listes des mentors</h3>

    <a href="{% url 'pymentorat:mentor_create' %}" class="btn btn-secondary" id="new-eda">Nouveau Mentor</a>
    <a href="{% url 'pymentorat:student_list' %}" class="btn btn-secondary" id="student-list">Liste des élèves</a>

    <div class="container text-center">
    <form class="form-inline" method="get">
        {{ filter.form.as_p }}
        <button type="submit">Filtrer</button>
    </form>
    </div>
    {% if filter.qs %}
        <table class="table table-striped table-hover">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Discipline</th>
                <th>Classe</th>
                <th>Maître</th>
                <th>Année</th>
                <th></th>
                <th></th>
            </tr>
            {% for mentor in filter.qs %}
            <tr>
                <td>
                    {{mentor.student.name}}
                </td>
                <td>
                    {{mentor.student.vorname}}
                </td>
                <td>
                    {{mentor.discipline}}
                </td>
                <td>
                    {{mentor.classe}}
                </td>
                 <td>
                    {{mentor.teacher}}
                </td>
                <td>
                    {{mentor.year}}
                </td>
                <td>
                    <a href="{% url 'pymentorat:mentor_update' mentor.pk %}">modifier</a>
                </td>
                <td>
                    <a href="{% url 'pymentorat:mentor_create_from_student' mentor.student.pk %}">+ mentor</a>
                </td>

            </tr>
            {% endfor %}
        </table>
    {% else %}
        Aucun mentor trouvé.
    {% endif %}
{% endblock%}
