{% extends 'pymentorat/base.html' %}

{% block content %}
<div class="row">
<div class="col-12">
<h3>Statistiques</h3>

<div>Nombre d'étudiants: {{ numberof.nbstudents }}</div>
</div>

<div class="col-12 col-md-8 col-xl-6 mx-auto">
<table class="table table-hover table-striped table-centered">
<thead>
<tr>
    <th>Discipline</th>
    <th>Ment<span class="d-none d-md-inline">ors</span><span class="d-inline d-md-none">.</span></th>
    <th colspan="5">EDA</th>
    <th>Cont<span class="d-none d-md-inline">rats</span><span class="d-inline d-md-none">.</span></th>
</tr>
<tr>
    <th></th>
    <th></th>
    <th>Total</th>
    <th>1ère <small>(C + M)</small></th>
    <th>2ème <small>(C + M)</small></th>
    <th>3ème <small>(C + M)</small></th>
    <th>4ème <small>(C + M)</small></th>
    <th></th>
</tr>
</thead>

<tbody>
{% for branch, nb in numberof.byBranch.items %}
    {% if nb.contracts or nb.mentors or nb.eda %}
    <tr>
        <td>{{branch}}</td>
        <td>{{nb.mentors}}</td>
        <td>{{nb.eda}}</td>
        <td>{% if nb.eda1 > 0 %}{{nb.eda1}} <small>({{nb.eda1c}} + {{nb.eda1m}})</small>{% endif %}</td>
        <td>{% if nb.eda2 > 0 %}{{nb.eda2}} <small>({{nb.eda2c}} + {{nb.eda2m}})</small> {% endif %}</td>
        <td>{% if nb.eda3 > 0 %}{{nb.eda3}} <small>({{nb.eda3c}} + {{nb.eda3m}})</small> {% endif %}</td>
        <td>{% if nb.eda4 > 0 %}{{nb.eda4}} {% endif %}</td>
        <td>{{nb.contracts}}</td>
    </tr>
    {% endif %}
{% endfor %}
</tbody>

<tfoot>
    <tr>
        <th>Totaux</th>
        <th>{{ numberof.nbmentors }}</th>
        <th>{{numberof.nbeda}}</th>
        <th>{{numberof.totaux.eda1}} <small>({{numberof.totaux.eda1c}} + {{numberof.totaux.eda1m}})</small></th>
        <th>{{numberof.totaux.eda2}} <small>({{numberof.totaux.eda2c}} + {{numberof.totaux.eda2m}})</small></th>
        <th>{{numberof.totaux.eda3}} <small>({{numberof.totaux.eda3c}} + {{numberof.totaux.eda3m}})</small></th>
        <th>{{numberof.totaux.eda4}}</th>
        <th> {{numberof.nbcontracts}} </th>
    </tr>
</tfoot>

</table>
</div>

</div>

{% endblock%}
