{% extends 'pymentorat/base.html' %}

{% block content %}
    <h3>Listes des élèves</h3>

    <div class="container text-center">
    <form class="form-inline" method="get">
        {{ filter.form.as_p }}
        <button type="submit">Filtrer</button>
    </form>
    </div>

    {% if filter.qs %}
        <table class="table table-striped table-hover">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Portable</th>
                <th>id</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            {% for student in filter.qs %}
            <tr>
                <td>
                    {{student.name}}
                </td>
                <td>
                    {{student.vorname}}
                </td>
                <td>
                    {{student.email}}
                </td>
                <td>
                    {{student.tel}}
                </td>
                 <td>
                    {{student.portable}}
                </td>
                <td>
                    {{student.id_OD}}
                </td>
                <td>
                    <a href="{% url 'pymentorat:student_update' student.pk %}">modifier</a>
                </td>
                <td>
                    <a href="{% url 'pymentorat:mentor_create_from_student' student.pk %}">+ mentor</a>
                </td>
                <td>
                    <a href="{% url 'pymentorat:eda_create_from_student' student.pk %}">+ EDA</a>
                </td>

            </tr>
            {% endfor %}
        </table>
    {% else %}
        Aucun élève trouvé.
    {% endif %}
{% endblock%}
