{% extends 'pymentorat/base.html' %}

{% block buttons %}

{% endblock%}

{% block content %}
    <h3>Listes des élèves</h3>

    <div class="container text-center">
    <form class="form-inline" method="get">
        {{ filter.form.as_p }}
        <button type="submit">Filtrer</button>
    </form>
    </div>

    {% if filter.qs %}
        <table class="table table-striped table-hover">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Classe</th>
                <th>Email</th>
                <th>Portable</th>
                <th>Actions</th>
            </tr>
            {% for student in filter.qs %}
            <tr>
                <td>
                    {{student.name}}
                </td>
                <td>
                    {{student.vorname}}
                </td>
                <td>
                    {{student.classe}}
                </td>
                <td>
                    {{student.email}}
                </td>
                 <td>
                    {{student.portable}}
                </td>
                <td>
                    <a href="{% url 'pymentorat:student_details' student.pk %}">
                        <i class="fas fa-info-circle" title="Ouvrir détails de l'élève"></i>
                    </a>

                    <a href="{% url 'pymentorat:student_update' student.pk %}">
                        <i class="fas fa-marker" title="Modifier l'élève"></i>
                    </a>

                    <a href="{% url 'pymentorat:mentor_create_from_student' student.pk %}">
                        <i class="fas fa-plus-circle" title="Inscrire nouveau mentor"></i>
                    </a>

                    <a href="{% url 'pymentorat:eda_create_from_student' student.pk %}">
                        <i class="fas fa-plus-square" title="Inscrire nouveau demandeur"></i>
                    </a>
                </td>

            </tr>
            {% endfor %}
        </table>
    {% else %}
        Aucun élève trouvé.
    {% endif %}
{% endblock%}
